@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
}

.subPage {
    margin-top: 50px;
}

.homePage {
    margin-top: 10%;
    background-color: #ffd800;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 90%;
    border: 3px solid #0054b1;
    text-align: center;
}

#home {
    background-image: url('./img/home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
}

#about {

}

.flagFlexContainer {
    display: flex;
}

.flagFlexLeft {
    width: 20%;
}

.flagFlexOrange {
    background-color: #ffd800;
    width: 20%
}

.flagFlexContent {
    width: 60%;
    text-align: center;
}

.heading1 {
    font-size: 4rem;
    font-weight: bold;
}

.heading2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0 0 10px;
}

.heading3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0 0 10px;
}

.paragraph {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
     margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul.inline li {
    list-style-type: square;
    list-style-position: inside;
}

a.underline {
    text-decoration: underline;

}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .homePage, .text-6xl  {
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


