@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
}

.subPage {
    margin-top: 30px;
}

#home {
    background-image: url('./img/home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
    }
}



